body, #app {
  width: 56px !important;
  //height: 56px !important;
  min-width: 56px !important;
  //min-height: 56px !important;
}
.q-fab {
  -webkit-app-region: drag;
}
.q-btn__content {
  -webkit-app-region: no-drag;
  white-space: unset !important;
}
