.home {
  display: flex;
  justify-content: center;
  align-items: center;

  .q-page-container {
    display: grid;
    padding-top: 0 !important;
    grid-template-rows: repeat(8, 36px);
    grid-template-columns: repeat(2, 150px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}
.q-btn {
  width: 150px;
  border-radius: 0;
}
